---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Features from '../components/Features.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Testimonials from '../components/Testimonials.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Atlas - Sua Jornada Literária, Mais Conectada">
    <Navbar />
    <main>
        <Hero />
        <Features />
        <HowItWorks />
        <Testimonials />
    </main>
    <Footer />
</Layout>
